.tour-button {
    background: #11856e;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    margin-right: .5rem;
    padding: .5rem 1.5rem;
    transition: all .5s ease
}

.tour-button:not(:disabled):hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .15);
}

.tour-button.tour-button-secondary {
    background: #f1f2f3;
    color: rgba(0, 0, 0, .75)
}

.tour-button.tour-button-secondary:not(:disabled):hover {
    background: #d6d9db;
    color: rgba(0, 0, 0, .75)
}

.tour-button:disabled {
    cursor: not-allowed
}

.tour-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between !important;
    background: #ffffff;
    padding: 1.2rem;
}

.tour-pause-button {
    background: #f1f2f3;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: rgba(0, 0, 0, .75);
    cursor: pointer;
    padding: .5rem 1.5rem;
    transition: all .5s ease;
    margin-right: auto;
}

.tour-pause-button:hover {
    background: #d6d9db;
}

.tour-footer .tour-button:last-child {
    margin-right: 0
}

.tour-cancel-icon {
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: color .5s ease;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.tour-cancel-icon:hover {
    color: rgba(0, 0, 0, .75)
}

.tour-has-title .tour-content .tour-cancel-icon {
    color: #333;
}

.tour-has-title .tour-content .tour-cancel-icon:hover {
    color: rgba(0, 0, 0, .75)
}

.tour-title {
    color: #333333;
    display: flex;
    flex: 1 0 auto;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.tour-header {
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    line-height: 2em;
    padding: .75rem .75rem 0;
    position: relative;
}

.tour-has-title .tour-content .tour-header {
    background: #eeeeee;
    padding: 1em
}

.tour-text {
    color: #333333;
    font-size: 1.2rem;
    line-height: 1.3em;
    padding: 1rem;
    background: #ffffff;
}

.tour-text p {
    margin-top: 0
}

.tour-text p:last-child {
    margin-bottom: 0
}

.tour-content {
    border-radius: 5px;
    outline: none;
    padding: 0
}

.tour-element {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    margin: 0;
    max-width: 400px;
    opacity: 0;
    outline: none;
    padding: 0;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
    width: 100%;
    z-index: 9999
}

.tour-enabled.tour-element {
    opacity: 1;
    visibility: visible
}

.tour-element[data-popper-reference-hidden]:not(.tour-centered) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.tour-element, .tour-element *, .tour-element :after, .tour-element :before {
    box-sizing: border-box
}

.tour-arrow, .tour-arrow:before {
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: -1
}

.tour-arrow:before {
    box-shadow: 2px -2px 6px #333333;
    background: #ffffff;
    content: "";
    transform: rotate(45deg)
}

.tour-element[data-popper-placement^=top] > .tour-arrow {
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.tour-element[data-popper-placement^=bottom] > .tour-arrow {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.tour-element[data-popper-placement^=left] > .tour-arrow {
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.tour-element[data-popper-placement^=right] > .tour-arrow {
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.tour-element.tour-centered > .tour-arrow {
    opacity: 0
}

.tour-element.tour-has-title[data-popper-placement^=bottom] > .tour-arrow:before {
    background-color: #eeeeee;
}

.tour-element[data-popper-placement^=top] > .tour-arrow:before {
    bottom: 0;
}

.tour-element[data-popper-placement^=bottom] > .tour-arrow:before {
    top: 0;
}

.tour-element[data-popper-placement^=left] > .tour-arrow:before {
    right: 0;
}

.tour-element[data-popper-placement^=right] > .tour-arrow:before {
    left: 0;
}

.tour-target-click-disabled.tour-enabled.tour-target, .tour-target-click-disabled.tour-enabled.tour-target * {
    pointer-events: none
}

.tour-modal-overlay-container {
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: all .3s ease-out, height 0s .3s, opacity .3s 0s;
    width: 100vw;
    z-index: 9997
}

.tour-modal-overlay-container.tour-modal-is-visible {
    height: 100vh;
    opacity: .4;
    transform: translateZ(0);
    transition: all .3s ease-out, height 0s 0s, opacity .3s 0s
}

.tour-modal-overlay-container.tour-modal-is-visible path {
    pointer-events: all
}

.tour-target {
    position: relative;
    z-index: 9998 !important;
}

.tour-enabled.tour-target {
    border-radius: 2px;
    border-color: #ffffff;
    border-width: 1px;
    pointer-events: auto !important;
    position: relative;
    z-index: 9998 !important;
}

#tour-start-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    color: #9ea1a7;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
#tour-start-button:hover {
    color: #cccccc;
}
