{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Tours' %}
{% block section_title %}{{ widget_title | trans }}{% endblock %}

{% block action %}
    <a href="{{ url('/tour-guide/tour/create') }}" class="btn btn-default">
        New Tour
    </a>
{% endblock %}
{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Tours' | trans } %}

        {% block widget_content %}
            {{ tourGuideTable | raw }}
        {% endblock %}

    {% endembed %}
{% endblock %}
